---
layout: layouts/base.njk
templateClass: tmpl-home
---

{# The About page uses this template and you can customize / use it for any new pages you add #}

<div class="wrapper">
  <div class="content">
    {{ content | safe }}

    <span style="margin-top: 2rem">@Built with <a href="https://www.11ty.dev/">Eleventy</a> on <a href="https://glitch.com/">Glitch</a>
</span>
  </div>
</div>
